<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>FTP</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>ftps://waws-prod-blu-425.ftp.azurewebsites.windows.net/site/wwwroot</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>73f20e9b-ee96-4a9f-b45e-af7054c77a45</ProjectGuid>
    <publishUrl>ftps://waws-prod-blu-425.ftp.azurewebsites.windows.net</publishUrl>
    <DeleteExistingFiles>false</DeleteExistingFiles>
    <FtpPassiveMode>true</FtpPassiveMode>
    <FtpSitePath>ftps://waws-prod-blu-425.ftp.azurewebsites.windows.net/site/wwwroot</FtpSitePath>
    <UserName>YesotronicsAPI\$YesotronicsAPI</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>